<section class="tj-page-header section-gap-x" data-bg-image="../images/bg/pheader-bg.webp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                    <h1 class="tj-page-title">General Trading</h1>
                    <div class="tj-page-link">
                        <span><i class="tji-home"></i></span>
                        <span>
                            <a href="#">Home</a>
                        </span>
                        <span><i class="tji-arrow-right"></i></span>
                        <span>
                            <span>About Us</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header-overlay" data-bg-image="../images/shape/pheader-overlay.webp"></div>
</section>



<!-- start: About Section -->
<section class="tj-about-section-2 section-gap section-gap-x">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 order-lg-1 order-2">
                <div class="about-img-area style-2 wow fadeInLeft" data-wow-delay=".3s">
                    <div class="about-img overflow-hidden">
                        <img data-speed=".8" src="../images/about/h9-about.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-lg-2 order-1">
                <div class="about-content-area">
                    <div class="sec-heading">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>About Us</span>
                        <h2 class="sec-title title-anim">
                            Trusted Solutions, Quality
                            Products, Lasting Partnership
                        </h2>
                    </div>
                </div>
                <div class="about-bottom-area">
                    <p>
                        AINSPHERE Trading is your trusted partner for
                        high-quality building materials, equipment and
                        industrial solutions. We specialize in sourcing and
                        supplying reliable products across sectors like
                        construction, infrastructure and facility
                        management. Our product range includes
                        electrical components from top brands, heavyduty
                        mechanical tools, plumbing essentials, safety
                        equipment and more.</p>
                    <p>
                        At AINSPHERE Trading, we are committed to
                        delivering excellence and supporting our clients
                        with tailored solutions that drive efficiency and
                        growth. With a focus on quality, innovation and
                        strong partnerships, we ensure that our customers
                        receive the best products to meet their project
                        needs.
                    </p>
                </div>
                <div class="about-btn-area wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <a class="tj-primary-btn" href="about.html">
                        <span class="btn-text"><span>Download Brochure</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: About Section -->

<!-- start: Choose Section -->
<section id="choose" class="tj-choose-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading-wrap">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>Why Choose
                        Us</span>
                    <div class="heading-wrap-content">
                        <div class="sec-heading">
                            <h2 class="sec-title title-anim">
                                Your Trusted Partner for
                                Quality and Innovation
                            </h2>
                        </div>
                        <div class="btn-wrap wow fadeInUp" data-wow-delay=".6s">
                            <a class="tj-primary-btn" [routerLink]="['/']">
                                <span class="btn-text"><span>Request a Call</span></span>
                                <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gap-4 rightSwipeWrap">

            <div class="col-lg-4">
                <div class="choose-box right-swipe">
                    <div class="choose-content">
                        <div class="choose-icon">
                            <i class="fa-regular fa-shield-halved"></i>
                        </div>
                        <h4 class="title">Quality Assurance</h4>
                        <p class="desc">
                            We prioritize the highest standards of quality in every product and solution we offer,
                            ensuring durability, performance and reliability.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="choose-box right-swipe">
                    <div class="choose-content">
                        <div class="choose-icon">
                            <i class="fa-regular fa-briefcase"></i>
                        </div>
                        <h4 class="title">Industry Expertise</h4>
                        <p class="desc">
                            With deep knowledge across various sectors, including construction, infrastructure and
                            safety,
                            we provide expert guidance and products designed to enhance efficiency and growth.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="choose-box right-swipe">
                    <div class="choose-content">
                        <div class="choose-icon">
                            <i class="fa-regular fa-handshake"></i>
                        </div>
                        <h4 class="title">Strong Partnerships</h4>
                        <p class="desc">
                            We value long-term relationships and work closely with our clients to ensure success
                            through consistent communication, support and service.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end: Choose Section -->