<!-- start: Banner Section -->
<section class="tj-banner-section h6-hero section-gap-x">
    <div class="banner-area">
        <div class="banner-left-box">
            <div class="banner-content">
                <h1 class="banner-title title-anim">Welcome to AINSPHERE UNIFORMS

                </h1>
                <div class="btn-area wow fadeInUp" data-wow-delay=".8s">
                    <a class="tj-primary-btn" [routerLink]="['/uniform-services']">
                        <span class="btn-text"><span>Our Services</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                </div>

                <div class="h6-hero-bottom wow fadeInLeft" data-wow-delay=".9s">
                    <div class="h6-hero-history">
                        <h4 class="h6-hero-history-title">About Us</h4>
                        <p class="h6-hero-history-desc">Welcome to AINSPHERE UNIFORMS
                            Your trusted partner in premium-quality since
                            2014! We take pride in outfitting professionals
                            across Saudi Arabia with stylish, comfortable, </p>
                    </div>
                    <div class="h6-hero-card-wrapper wow fadeInRight" data-wow-delay="1s">
                        <div class="swiper h6-hero-card-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="h6-hero-card">
                                        <div class="h6-hero-card-banner">
                                            <img src="/images/hero/h6-hero-cart-1.webp" alt="">
                                        </div>
                                        <div class="h6-hero-card-content">
                                            <h5 class="h6-hero-card-title"><a [routerLink]="['/uniform-services']">
                                                    Office and Business Uniforms
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="h6-hero-card">
                                        <div class="h6-hero-card-banner">
                                            <img src="/images/hero/h6-hero-cart-2.webp" alt="">
                                        </div>
                                        <div class="h6-hero-card-content">
                                            <h5 class="h6-hero-card-title"><a
                                                    [routerLink]="['/uniform-services']">Healthcare
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="h6-hero-card">
                                        <div class="h6-hero-card-banner">
                                            <img src="/images/hero/h6-hero-cart-3.webp" alt="">
                                        </div>
                                        <div class="h6-hero-card-content">
                                            <h5 class="h6-hero-card-title"><a [routerLink]="['/uniform-services']">Hotel
                                                    Uniforms
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination-area"></div>
                        </div>

                    </div>
                </div>
                <div class="bg-shape-2">
                    <img src="/images/shape/pattern-3.svg" alt="">
                </div>
            </div>

        </div>
        <div class="banner-right-box">
            <div class="banner-img wow fadeInUp" data-wow-delay=".3s">
                <img data-speed=".8" src="/images/uniforms/hero.jpg" alt="">
            </div>

        </div>
    </div>
</section>
<!-- end: Banner Section -->

<!-- start: About Section -->
<section class="h10-about section-gap">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row ">
            <div class="col-12 col-lg-5 d-block d-md-none d-lg-block">
                <div class="about-img-area h10-about-banner wow bounceInLeft" data-wow-delay=".3s">
                    <div class="about-img overflow-hidden">
                        <img data-speed=".8" src="/images/about/h10-about-banner.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="h10-about-content-wrapper">
                    <div class="sec-heading style-3 ">
                        <h2 class="sec-title title-highlight wow fadeInUp" data-wow-delay=".3s">
                            Welcome to Ainsphere Uniforms
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-none d-md-block d-lg-none">
                            <div class="about-img-area h10-about-banner wow bounceInLeft" data-wow-delay=".3s">
                                <div class="about-img">
                                    <img src="/images/about/h10-about-banner.webp" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="h10-about-content">

                                <p class="desc wow fadeInUp" data-wow-delay=".4s">
                                    Welcome to AINSPHERE UNIFORMS
                                    Your trusted partner in premium-quality since
                                    2014! We take pride in outfitting professionals
                                    across Saudi Arabia with stylish, comfortable, and
                                    durable uniforms that reflect the essence of your
                                    business. Whether you're looking to elevate your
                                    brand's image or ensure the utmost comfort for
                                    your team, we've got you covered. Explore our
                                    diverse range of uniforms and experience
                                    unmatched quality, professionalism, and
                                    exceptional service. Thank you for choosing
                                    Ainsphere Ventures – where style meets
                                    functionality!

                                </p>
                            </div>
                            <div class="about-btn-area-2 wow fadeInUp pt-3" data-wow-delay=".7s">
                                <a class="tj-primary-btn" [routerLink]="['/uniform-services']">
                                    <span class="btn-text"><span>Our Services</span></span>
                                    <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- end: About Section -->


<!-- start: Client Section -->
<section class="tj-client-section-2 h6-client section-gap-x wow fadeInUp" data-wow-delay=".4s">
    <div class="container-fluid client-container">
        <div class="row">
            <div class="col-12">
                <div class="h6-client-title-wrapper">
                    <h6 class="h6-client-title
              ">we’re proud to partner with best-in-class clients</h6>

                </div>
            </div>
            <div class="col-12">
                <div class="swiper client-slider client-slider-2 h6-client-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-1-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-2-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-3-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-4-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-5-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-6-light.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Client Section -->


<!-- start: Project Section -->
<section class="tj-project-section-2 section-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading style-2 text-center">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Service Categories</span>
                    <h2 class="sec-title text-anim">Breaking Boundaries, Building <span>Dreams.</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="project-wrapper wow fadeInUp" data-wow-delay=".5s">
                    <div class="swiper project-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/1.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Office and Business Uniforms</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/2.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Healthcare</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/3.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Hotel Uniforms</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/4.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Institutional Uniform</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Project Section -->


<!-- start: Fun fact Section -->
<section class=" h8-funfact section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-heading style-3 sec-heading-centered">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>OUR FUN FACT</span>
                    <h2 class="sec-title title-anim">Numbers and facts that define performance.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
                <div class="h8-funfact-banner wow fadeInLeft" data-wow-delay=".3s">
                    <div class="h8-funfact-banner-img">
                        <img src="/images/funfact/h8-funfact-banner.webp" alt="">
                    </div>
                    <div class="box-area">
                        <div class="call-box wow fadeInUp" data-wow-delay=".5s">
                            <h4 class="title">Contact Our Team </h4>
                            <span class="call-icon"><i class="tji-phone"></i></span>
                            <a class="number" [routerLink]="['/contact-us']"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pl-0">
                <div class="h8-funfact-wrapper">
                    <div class="countup-item style-2 h8-funfact-item">
                        <div class="count-inner">
                            <div class="counter-desc">
                                <h4 class="counter-title">Our Vision</h4>
                                <p class="count-text">
                                    To be the leading uniform providerin Saudi
                                    Arabia, recognized for our dedication to quality,
                                    customer satisfaction, and innovative solutions.
                                    We aspire to outfit every professionalwith
                                    uniforms that inspire excellence, foster
                                    teamwork, and embody the values of their
                                    organizations.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="countup-item style-2 h8-funfact-item">
                        <div class="count-inner">
                            <div class="counter-desc">
                                <h4 class="counter-title">Our Mission</h4>
                                <p class="count-text">
                                    Our mission is to deliver high-quality, stylish, and
                                    comfortable uniforms that enhance
                                    professionalism and reflect the unique identity of
                                    businesses across SaudiArabia.We are
                                    committed to providing exceptional service,
                                    innovative designs, and durable fabrics that
                                    empower professionals to perform with
                                    confidence and pride
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end: Fun fact Section -->


<!-- start: Working process Section -->
<div class="tj-working-process section-gap section-gap-x">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="working-process-area">
                    <div class="process-item wow fadeInLeft" data-wow-delay=".5s">
                        <div class="process-step">
                            <span>01</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Perfect Tailoring: Where
                                Precision Meets Style</h4>
                            <p class="desc">
                                We believe that a perfectly tailored uniform is more than
                                just clothing – it’s a reflection of your brand’s
                                professionalism and attention to detail. With our expertise
                                in tailoring, we ensure that every piece fits flawlessly,
                                combining comfort with elegance.

                            </p>
                        </div>
                    </div>
                    <div class="process-item wow fadeInLeft" data-wow-delay=".7s">
                        <div class="process-step">
                            <span>02</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Materials: Crafted for
                                Quality and Comfort</h4>
                            <p class="desc">
                                We understand that the foundation of a great uniform
                                lies in its materials. That’s why we carefully select
                                only the finest fabrics to ensure style, durability, and
                                all-day comfort for your team. Explore the materials
                                that set our uniforms apart:
                            </p>
                        </div>
                    </div>
                    <div class="process-item wow fadeInLeft" data-wow-delay=".9s">
                        <div class="process-step">
                            <span>03</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Customization</h4>
                            <p class="desc">
                                We bring your vision to life with personalized
                                uniform solutions. From unique designs and
                                tailored fits to embroidered logos and brand
                                colors, our customization options ensure that
                                every piece reflects your identity. Elevate your
                                team’s style and make a lasting impression
                                with uniforms crafted just for you
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape-1">
        <img src="../images/shape/pattern-2.svg" alt="">
    </div>
    <div class="bg-shape-2">
        <img src="../images/shape/pattern-3.svg" alt="">
    </div>
</div>
<!-- end: Working process Section -->