.h6-hero .banner-left-box {
    background-color: #054e5b;
}

.tj-primary-btn .btn-icon {
    background-color: #218396;
}

.tj-primary-btn {
    background-color: #e19b8c;
}

.h10-about-content .desc {
    max-width: 100%;
}

@media (max-width: 980px) {
    .h6-hero .banner-left-box {
        width: auto !important;
    }

}

.tj-client-section-2 {
    background-color: #218396;
}

.h8-funfact {
    background: #f6f6f6 !important;
}

.tj-working-process {
    background-color: #e19b8c24;
}

.banner-area {
    height: 1020px;
}

@media (max-width: 992px) {
    .banner-right-box {
        display: none !important;
    }

    .banner-area {
        height: auto;
        min-height: auto;
    }

    .h10-about.section-gap {
        padding-top: 40px;
    }
}

.h6-hero-history {
    max-width: 80%;
}

.h6-hero .banner-content .banner-title {
    color: #ffffff;
}

.h6-hero-history-desc {
    color: #fff;
}

@media (max-width:780px) {
    .h6-hero-bottom {
        padding-top: 0;
        font-size: 12px;
    }

}