<section class="tj-slider-section">

    <!-- ================= HERO SLIDER ================= -->
    <div class="swiper hero-slider">
        <div class="swiper-wrapper">

            <div class="swiper-slide tj-slider-item" *ngFor="let hero of heroes">

                <!-- Background Image -->
                <div class="slider-bg-image" [style.background-image]="'url(' + getImage(hero.image) + ')'">
                </div>

                <div class="container">
                    <div class="slider-wrapper">
                        <div class="slider-content">

                            <h1 class="slider-title">
                                {{ hero.title_en }}
                            </h1>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Navigation (UNCHANGED) -->
        <div class="hero-navigation d-inline-flex wow fadeIn" data-wow-delay="1.5s">
            <div class="slider-prev">
                <span class="anim-icon">
                    <i class="tji-arrow-left"></i>
                    <i class="tji-arrow-left"></i>
                </span>
            </div>
            <div class="slider-next">
                <span class="anim-icon">
                    <i class="tji-arrow-right"></i>
                    <i class="tji-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- ================= THUMB SLIDER ================= -->
    <div class="swiper hero-thumb wow fadeIn" data-wow-delay="2s">
        <div class="swiper-wrapper">

            <div class="swiper-slide thumb-item" *ngFor="let hero of heroes">

                <img [src]="getImage(hero.image)" alt="Thumbnail">

            </div>

        </div>
    </div>

    <!-- ================= CIRCLE TEXT (UNCHANGED) ================= -->
    <div class="circle-text-wrap wow fadeInUp" data-wow-delay="1s">
        <span class="circle-text" data-bg-image="/images/hero/circle-text.webp"></span>
        <a class="circle-icon" href="#">
            <i class="tji-arrow-down-big"></i>
        </a>
    </div>

</section>

<section class="tj-client-section section-top-gap">
    <div class="container-fluid client-container">
        <div class="row">
            <div class="col-12">
                <div class="client-content style-2 wow fadeIn" data-wow-delay=".3s">
                    <h5 class="sec-title">Join Over <span class="client-numbers">1000+</span> Companies with
                        <span class="client-text">Ainsphere</span> Here
                    </h5>
                </div>
                <div class="swiper client-slider client-slider-1 wow fadeIn" data-wow-delay=".5s">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-1.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-2.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-3.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-4.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-5.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="../images/brands/brand-6.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="h9-about-section section-bottom-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h9-about-area">
                    <div class="about-img-area h9-about-img wow fadeInLeft" data-wow-delay=".3s">
                        <div class="about-img overflow-hidden">
                            <img data-speed=".8" src="../images/about/h9-about.jpg" alt="">
                        </div>
                        <div class="box-area">
                            <div class="author-info wow fadeInUp" data-wow-delay=".3s">
                                <img src="../images/logos/logo-dark.webp" width="150" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="h9-about-content">
                        <h2 class="sec-title title-highlight wow fadeInUp" data-wow-delay=".3s">
                            Trusted Solutions,Quality Products, Lasting Partnership</h2>
                        <p class="desc wow fadeInUp" data-wow-delay=".4s">
                            AINSPHERE Trading is your trusted partner for
                            high-quality building materials, equipment and
                            industrial solutions. We specialize in sourcing and
                            supplying reliable products across sectors like
                            construction, infrastructure and facility
                            management.
                        </p>
                        <div class="h9-about-funfact wow fadeInUp" data-wow-delay=".6s">
                            <div class="countup-item">
                                <div class="inline-content">
                                    <span class="odometer countup-number" data-count="20"></span>
                                    <span class="count-plus">M</span>
                                </div>
                                <span class="count-text">Reach Worldwide empower dreams everywhere.</span>
                            </div>
                            <div class="countup-item">
                                <div class="inline-content">
                                    <span class="odometer countup-number" data-count="8.5"></span>
                                    <span class="count-plus">X</span>
                                </div>
                                <span class="count-text">Faster Growth starts smart solutions today.</span>
                            </div>
                        </div>
                        <div class="about-btn-area-2 wow fadeInUp" data-wow-delay=".7s">
                            <a class="tj-primary-btn" href="about.html">
                                <span class="btn-text"><span>Learn More</span></span>
                                <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                            <a class="video-btn video-popup" data-autoplay="true" data-vbtype="video"
                                data-maxwidth="1200px" href="https://www.youtube.com/watch?v=MLpWrANjFbI">
                                <span class="play-btn"><i class="tji-play"></i></span>
                                <span class="video-text">Play our reels</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- start: Working process Section -->
<div class="tj-working-process section-gap section-gap-x">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading-wrap">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Why Choose Us?</span>
                    <div class="heading-wrap-content">
                        <div class="sec-heading style-2">
                            <h2 class="sec-title text-anim">Your Trusted Partner for Quality and Innovation.</h2>
                        </div>
                        <div class="btn-wrap wow fadeInUp" data-wow-delay=".6s">
                            <a class="tj-primary-btn" href="#">
                                <span class="btn-text"><span>Contact Us</span></span>
                                <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="working-process-area">
                    <div class="process-item wow fadeInLeft" data-wow-delay=".5s">
                        <div class="process-step">
                            <span>01</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Quality Assurance</h4>
                            <p class="desc">
                                We prioritize the highest standards of quality in every product and solution we offer,
                                ensuring durability, performance and reliability.

                            </p>
                        </div>
                    </div>
                    <div class="process-item wow fadeInLeft" data-wow-delay=".7s">
                        <div class="process-step">
                            <span>02</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Industry Expertise</h4>
                            <p class="desc">
                                With deep knowledge across various sectors, including construction, infrastructure and
                                safety,
                                we provide expert guidance and products designed to enhance efficiency and growth.
                            </p>
                        </div>
                    </div>
                    <div class="process-item wow fadeInLeft" data-wow-delay=".9s">
                        <div class="process-step">
                            <span>03</span>
                        </div>
                        <div class="process-content">
                            <h4 class="title">Strong Partnerships</h4>
                            <p class="desc">
                                We value long-term relationships and work closely with our clients to ensure success
                                through consistent communication, support and service.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape-1">
        <img src="../images/shape/pattern-2.svg" alt="">
    </div>
    <div class="bg-shape-2">
        <img src="../images/shape/pattern-3.svg" alt="">
    </div>
</div>
<!-- end: Working process Section -->



<!-- start: Project Section -->
<section class="tj-project-section-2 section-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading style-2 text-center">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s">Service Categories</span>
                    <h2 class="sec-title text-anim">Breaking Boundaries, Building <span>Dreams.</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="project-wrapper wow fadeInUp" data-wow-delay=".5s">
                    <div class="swiper project-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/1.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Lighting Fixtures</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/2.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Industrial & Construction Supplies</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/3.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">Motors & Pumps</a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-img" data-bg-image="../images/service/4.jpg"></div>
                                    <div class="project-content">
                                        <span class="categories"><a href="#">Services</a></span>
                                        <div class="project-text">
                                            <h3 class="title"><a href="#">MEP Tools </a></h3>
                                            <a class="project-btn" href="#">
                                                <i class="tji-arrow-right-big"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Project Section -->


<!-- start: Team Section -->
<section class="h7-team section-gap section-gap-x">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading style-2 style-7 sec-heading-centered">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i> Meet Our
                        Team</span>
                    <h2 class="sec-title text-anim">The People Empowering Business Level.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="h7-team-wrapper">
                    <div class="h7-team-marquee swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">James Anderson</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-1.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Savannah Ngueen</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-2.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Emma Richardson</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-3.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Eade Marren</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-4.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">James Anderson</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-1.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Savannah Ngueen</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-2.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Emma Richardson</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-3.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Eade Marren</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-4.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div dir="rtl" class="h7-team-marquee swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Benjamin Reed</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-6.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Nathaniel Ellington</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-7.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Nathan Price</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-8.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Caleb Turner</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-9.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Benjamin Reed</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-6.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Nathaniel Ellington</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-7.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Nathan Price</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-8.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-item">
                                    <div class="team-content">
                                        <h5 class="title"><a href="team-details.html">Caleb Turner</a></h5>
                                        <span class="designation">Chief Executive</span>
                                    </div>
                                    <div class="team-img">
                                        <img src="../images/team/h7-team-9.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="bg-shape-3">
        <img src="../images/shape/h7-testimonial-shape-blur.svg" alt="">
    </div>
</section>
<!-- end: Team Section -->