<section class="tj-page-header section-gap-x" data-bg-image="../images/bg/pheader-bg.webp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                    <h1 class="tj-page-title">Service Name</h1>
                    <div class="tj-page-link">
                        <span><i class="tji-home"></i></span>
                        <span>
                            <a [routerLink]="['/']">Home</a>
                        </span>
                        <span><i class="tji-arrow-right"></i></span>
                        <span>
                            <span>Services</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header-overlay" data-bg-image="../images/shape/pheader-overlay.webp"></div>
</section>



<section class="tj-blog-section">
    <div class="container">
        <div class="row">

            <!-- SIDEBAR NAVIGATION -->
            <div class="col-lg-12 mt-5 ml-0">
                <div class="tj-main-sidebar">
                    <div class="tj-sidebar-widget service-categories">
                        <ul class="nav flex-column">
                            <li>
                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#service-details"
                                    role="tab">
                                    <span class="text">Service Details</span>
                                    <span class="icon"><i class="fas fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#service-products" role="tab">
                                    <span class="text">Our Products</span>
                                    <span class="icon"><i class="fas fa-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



                <!-- TAB CONTENT -->
                <div class="tab-content">

                    <!-- SERVICE DETAILS TAB -->
                    <div class="tab-pane fade show active" id="service-details" role="tabpanel">
                        <div class="post-details-wrapper mt-5">
                            <h1 class="title">Safety Equipment</h1>
                            <div class="blog-text mt-3 mb-4">
                                <p>
                                    We provide a wide range of high-quality safety equipment includes to ensure a secure
                                    and compliant
                                    workplace. Our products are designed to protect workers, prevent accidents and
                                    maintain regulatory
                                    standards.
                                </p>
                                <h4 class="my-2">Comprehensive Personal Protective Equipment (PPE) & Safety List</h4>
                                <p>
                                    We provide a wide range of high-quality safety equipment includes to ensure a secure
                                    and compliant
                                    workplace. Our products are designed to protect workers, prevent accidents and
                                    maintain regulatory
                                    standards.
                                </p>
                            </div>
                        </div>
                        <div class="container py-5">
                            <div class="row justify-content-between">
                                <div class="col-lg-6">
                                    <div class="faq-img-area tj-arrange-item-2"
                                        style="translate: none; rotate: none; scale: none; transform: translate(-2.2437%, 0%) translate3d(0px, 0px, 0px);">
                                        <div class="faq-img overflow-hidden">
                                            <img src="/images/faq/faq.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="accordion tj-faq tj-arrange-item-2" id="faqOne">
                                        <div class="accordion-item active">
                                            <button class=" faq-title" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-1" aria-expanded="true">Head Protection</button>
                                            <div id="faq-1" class="collapse show" data-bs-parent="#faqOne">
                                                <div class="accordion-body faq-text">
                                                    <ul class="feature-list list-unstyled">
                                                        <li><i class="fas fa-check-circle"></i>Half Brim Hard Hat</li>
                                                        <li><i class="fas fa-check-circle"></i>Vented Hard Hat</li>
                                                        <li><i class="fas fa-check-circle"></i>Full Brim Hard Hat</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <button class="faq-title collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-2" aria-expanded="false">Eyes and Face
                                                Protection</button>
                                            <div id="faq-2" class="collapse" data-bs-parent="#faqOne">
                                                <div class="accordion-body faq-text">
                                                    <ul class="feature-list list-unstyled">
                                                        <li><i class="fas fa-check-circle"></i>Protective Eyewear /
                                                            Spectacles</li>
                                                        <li><i class="fas fa-check-circle"></i>Goggles</li>
                                                        <li><i class="fas fa-check-circle"></i>Face Shield</li>
                                                        <li><i class="fas fa-check-circle"></i>Welding Face Shield</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- PRODUCTS TAB -->
                    <div class="tab-pane fade my-5" id="service-products" role="tabpanel">
                        <div class="post-details-wrapper">

                            <div class="row g-4 align-items-stretch">

                                <!-- Product Card -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="blog-item h-100">
                                        <div class="blog-thumb ratio ratio-4x3">
                                            <img src="images/product/hard-hat.jpg" class="img-fluid"
                                                alt="Expansion Joint System">
                                        </div>
                                        <div class="blog-content">
                                            <h4 class="title">Hard Hat H700 - Series</h4>
                                            <p>
                                                Point Ratchet
                                                Suspension [20Ex/CASE]
                                                White, Yellow, Blue, Green,
                                                Red, Orange

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="blog-item h-100">
                                        <div class="blog-thumb ratio ratio-4x3">
                                            <img src="images/product/series-vented.jpg" class="img-fluid"
                                                alt="Expansion Joint System">
                                        </div>
                                        <div class="blog-content">
                                            <h4 class="title">Hard Hat H700 - Series Vented</h4>
                                            <p>
                                                Point Ratchet Suspension
                                                [20Ex/CASE]
                                                White, Yellow, Blue, Green

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>