<!-- Top Bar Start -->

<div *ngIf="isReady">

    <div class="topbar d-print-none">
        <div class="container-fluid">
            <nav class="topbar-custom d-flex justify-content-between" id="topbar-custom">
                <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                    <li>
                        <button class="nav-link mobile-menu-btn nav-icon" id="togglemenu">
                            <i class="iconoir-menu"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" action="#" method="get">
                            <input type="search" name="search" class="form-control top-search mb-0"
                                placeholder="Search here...">
                            <button type="submit"><i class="iconoir-search"></i></button>
                        </form>
                    </li>
                </ul>
                <ul class="topbar-item list-unstyled d-inline-flex align-items-center mb-0">
                    <li class="dropdown topbar-item">
                        <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" data-bs-toggle="dropdown"
                            href="javascript:void(0)" role="button">
                            <img [src]="userAvatar" alt="" class="thumb-md rounded-circle">
                            <span class="fw-medium text-dark">
                                {{ userName }}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end py-0">

                            <div class="d-flex align-items-center dropdown-item py-2 bg-secondary-subtle">

                                <div class="flex-shrink-0">
                                    <img [src]="userAvatar" class="thumb-md rounded-circle">
                                </div>

                                <div class="flex-grow-1 ms-2 text-truncate align-self-center">
                                    <h6 class="my-0 fw-medium text-dark fs-13">
                                        {{ userName }}
                                    </h6>
                                    <small class="text-muted mb-0">Administrator</small>
                                </div>

                            </div>

                            <a class="dropdown-item" [routerLink]="['/dashboard/profile']">
                                <i class="las la-user fs-18 me-1 align-text-bottom"></i>
                                Profile
                            </a>

                            <div class="dropdown-divider mb-0"></div>

                            <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="logout()">
                                <i class="las la-power-off fs-18 me-1 align-text-bottom"></i>
                                Logout
                            </a>

                        </div>

                    </li>
                </ul>

            </nav>
        </div>
    </div>




    <div class="startbar d-print-none">
        <div class="brand">
            <a [routerLink]="['/dashboard']" class="logo">
                <span>
                    <img src="dashboad-assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                </span>
                <span class="">
                    <img src="dashboad-assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
                </span>
            </a>
        </div>

        <div class="startbar-menu">
            <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
                <div class="d-flex align-items-start flex-column w-100">
                    <ul class="navbar-nav mb-auto w-100">
                        <li class="menu-label mt-2">
                            <span>Main</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard']">
                                <i class="iconoir-report-columns menu-icon"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebargeneral" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarTransactions">
                                <i class="iconoir-task-list menu-icon"></i>
                                <span>General Trading</span>
                            </a>
                            <div class="collapse " id="sidebargeneral">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            [routerLink]="['/dashboard/general-dashboard-home']">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarfmcg" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarTransactions">
                                <i class="iconoir-task-list menu-icon"></i>
                                <span>FMCG Trading</span>
                            </a>
                            <div class="collapse " id="sidebarfmcg">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/dashboard/fmcg-dashboard-home']">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarmep" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarTransactions">
                                <i class="iconoir-task-list menu-icon"></i>
                                <span>MEP Trading</span>
                            </a>
                            <div class="collapse " id="sidebarmep">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/dashboard/mep-dashboard-home']">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#sidebaruniform" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarTransactions">
                                <i class="iconoir-task-list menu-icon"></i>
                                <span>Uniform Trading</span>
                            </a>
                            <div class="collapse " id="sidebaruniform">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link"
                                            [routerLink]="['/dashboard/uniform-dashboard-home']">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="startbar-overlay d-print-none"></div>

</div>