<section class="h5-banner-section section-gap-x">
    <div class="swiper h5-banner-slider">
        <div class="swiper-wrapper">

            <!-- Slide -->
            <div class="swiper-slide">
                <div class="banner-bg">
                    <img src="/images/fmcg/hero.jpg" alt="">
                </div>

                <div class="h5-banner-area">
                    <div class="h5-banner-content">
                        <h1 class="banner-title text-anim">
                            Expert Solutions for Modern Enterprises.
                        </h1>

                        <div class="btn-area wow fadeInUp" data-wow-delay=".8s">
                            <a class="tj-primary-btn" [routerLink]="['/services']">
                                <span class="btn-text"><span>Our Services</span></span>
                                <span class="btn-icon">
                                    <i class="tji-arrow-right-long"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="solution-box">
                        <span class="list-icon"><i class="tji-list"></i></span>
                        <p class="desc">
                            Ainsphere FMCG is a fast-moving consumer goods division of
                            Ainsphere Ventures, delivering high-quality everyday products.
                        </p>
                    </div>
                </div>

                <div class="bg-shape-1">
                    <img src="/images/shape/pattern-2.svg" alt="">
                </div>
                <div class="bg-shape-2">
                    <img src="/images/shape/pattern-3.svg" alt="">
                </div>

                <div class="banner-scroll wow fadeInDown" data-wow-delay="1.5s">
                    <a [routerLink]="['/contact-us']" class="scroll-down">
                        <span><i class="tji-arrow-down-long"></i></span>
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-bg">
                    <img src="/images/fmcg/hero2.jpg" alt="">
                </div>

                <div class="h5-banner-area">
                    <div class="h5-banner-content">
                        <h1 class="banner-title text-anim">
                            Expert Solutions for Modern Enterprises.
                        </h1>

                        <div class="btn-area wow fadeInUp" data-wow-delay=".8s">
                            <a class="tj-primary-btn" [routerLink]="['/services']">
                                <span class="btn-text"><span>Our Services</span></span>
                                <span class="btn-icon">
                                    <i class="tji-arrow-right-long"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="solution-box">
                        <span class="list-icon"><i class="tji-list"></i></span>
                        <p class="desc">
                            Ainsphere FMCG is a fast-moving consumer goods division of
                            Ainsphere Ventures, delivering high-quality everyday products.
                        </p>
                    </div>
                </div>

                <div class="bg-shape-1">
                    <img src="/images/shape/pattern-2.svg" alt="">
                </div>
                <div class="bg-shape-2">
                    <img src="/images/shape/pattern-3.svg" alt="">
                </div>

                <div class="banner-scroll wow fadeInDown" data-wow-delay="1.5s">
                    <a [routerLink]="['/contact-us']" class="scroll-down">
                        <span><i class="tji-arrow-down-long"></i></span>
                        Contact Us
                    </a>
                </div>
            </div>

        </div>

        <!-- Optional -->
        <div class="swiper-pagination"></div>
    </div>
</section>


<!-- start: About Section -->
<section class="h10-about section-gap">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row ">
            <div class="col-12 col-lg-5 d-block d-md-none d-lg-block">
                <div class="about-img-area h10-about-banner wow bounceInLeft" data-wow-delay=".3s">
                    <div class="about-img overflow-hidden">
                        <img data-speed=".8" src="/images/about/h10-about-banner.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="h10-about-content-wrapper">
                    <div class="sec-heading style-3 ">
                        <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i> ABOUT OUR
                            COMPANY</span>
                        <h2 class="sec-title title-highlight wow fadeInUp" data-wow-delay=".3s">
                            About Ainsphere FMCG
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-none d-md-block d-lg-none">
                            <div class="about-img-area h10-about-banner wow bounceInLeft" data-wow-delay=".3s">
                                <div class="about-img">
                                    <img src="/images/about/h10-about-banner.webp" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="h10-about-content">

                                <p class="desc wow fadeInUp" data-wow-delay=".4s">
                                    Ainsphere FMCG is a fast-moving consumer goods division of Ainsphere Ventures,
                                    delivering high-quality
                                    everyday products to retail, wholesale, and institutional markets. Backed by over 10
                                    years of industry
                                    experience, we focus on consistency, affordability, and reliable supply chains that
                                    keep businesses
                                    stocked and consumers satisfied.
                                    We source, distribute, and develop FMCG products that meet modern market demands
                                    while
                                    maintaining strict quality and safety standards.
                                </p>
                                <div class="h9-about-funfact h10-about-funfact">
                                    <div class="countup-item">
                                        <div class="inline-content">
                                            <span class="odometer countup-number" data-count="20"></span>
                                            <span class="count-plus">M</span>
                                        </div>
                                        <span class="count-text">Reach Worldwide empower dreams everywhere.</span>
                                    </div>
                                    <div class="countup-item">
                                        <div class="inline-content">
                                            <span class="odometer countup-number" data-count="8.5"></span>
                                            <span class="count-plus">X</span>
                                        </div>
                                        <span class="count-text">Faster Growth starts smart solutions today.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</section>
<!-- end: About Section -->




<!-- start: Maquee Area -->
<section class="h5-maquee z-2">
    <div class="h5-maquee-inner">
        <div class="swiper h5-maquee-slider">
            <div class="swiper-wrapper  h5-maquee-slider-wrapper">
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Innovation</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Success</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Leadership</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Enterprise</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Business Growth</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Corporate</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Results</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Innovation</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Success</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Leadership</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Enterprise</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Business Growth</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div dir="rtl" class="h5-maquee-inner h5-maquee-inner-rtl">
        <div class="swiper h5-maquee-slider">
            <div class="swiper-wrapper  h5-maquee-slider-wrapper">
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Innovation</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Success</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Leadership</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Enterprise</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Business Growth</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Corporate</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Results</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Innovation</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Success</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Leadership</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Enterprise</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide h5-maquee-slider-item">
                    <div class="marquee-box">
                        <div class="marquee-icon-wrapper">
                            <div class="marquee-icon"><i class="tji-star"></i></div>
                        </div>
                        <div class="marquee-title">
                            <h4 class="title">Business Growth</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end: Maquee Area -->


<section class="tj-project-section-4 section-gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="sec-heading style-4 text-center">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>Proud
                        Projects</span>
                    <h2 class="sec-title title-anim">Breaking Boundaries, Building Dreams.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="project-wrapper wow fadeInUp" data-wow-delay=".5s">
                    <div class="swiper project-slider-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="project-item h4-project-item">
                                    <div class="project-content">
                                        <span class="categories"><a href="#">FMCG</a></span>
                                        <div class="project-text">
                                            <h4 class="title"><a href="#">Packaged Snacks & Confectionery</a></h4>
                                            <a class="tji-icon-btn" href="#">
                                                <i class="tji-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="project-img">
                                        <img src="/images/project/project-4.webp" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-item h4-project-item">
                                    <div class="project-content">
                                        <span class="categories"><a href="#">FMCG</a></span>
                                        <div class="project-text">
                                            <h4 class="title"><a href="#">Tea, Coffee & Instant Beverages</a>
                                            </h4>
                                            <a class="tji-icon-btn" href="#">
                                                <i class="tji-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="project-img">
                                        <img src="/images/project/project-8.webp" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-item h4-project-item">
                                    <div class="project-content">
                                        <span class="categories"><a href="#">FMCG</a></span>
                                        <div class="project-text">
                                            <h4 class="title"><a href="#">Dairy Products</a></h4>
                                            <a class="tji-icon-btn" href="#">
                                                <i class="tji-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="project-img">
                                        <img src="/images/project/project-9.webp" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- start: Client Section -->
<section class="tj-client-section-2 h6-client section-gap-x wow fadeInUp" data-wow-delay=".4s">
    <div class="container-fluid client-container">
        <div class="row">
            <div class="col-12">
                <div class="h6-client-title-wrapper">
                    <h6 class="h6-client-title
              ">we’re proud to partner with best-in-class clients</h6>

                </div>
            </div>
            <div class="col-12">
                <div class="swiper client-slider client-slider-2 h6-client-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-1-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-2-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-3-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-4-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-5-light.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide client-item">
                            <div class="client-logo">
                                <img src="/images/brands/brand-6-light.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Client Section -->