.tj-primary-btn {
    background-color: #ffffff1a !important;
}

.menu_bar.mobile_menu_bar {
    background-color: #054e5b !important;
}

.hamburger_bg {
    background-color: #054e5b;
}

.hamburger_wrapper::before {
    background: #054e5b;
}

.mobile_menu ul li a {
    color: #fff;
}

.mobile_menu ul {
    list-style: none;
    padding: 0 0 35px;
}

.mobile_menu ul li {
    padding-bottom: 12px;
}

.hamburger-lang-switch {
    margin-bottom: 24px;
}

.hamburger-lang-switch .tj-primary-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hamburger-lang-switch .btn-text {
    width: 100%;
    justify-content: center;
}

html[dir='rtl'] .hamburger-lang-switch .btn-text {
    flex-direction: row-reverse;
}